* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background: radial-gradient(circle, #050505, #000);
  color: #0ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* LOGIN GATE */
.gate {
  background: #0a0a0a;
  border: 1px solid #0ff;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px #0ff;
}

.gate h1 {
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.gate input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #000;
  border: 1px solid #0ff;
  color: #0ff;
}

button {
  padding: 10px 20px;
  background: #000;
  border: 1px solid #0ff;
  color: #0ff;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0ff;
  color: #000;
}

#error {
  color: crimson;
  margin-top: 10px;
}

/* VAULT */
.vault {
  width: 90%;
  max-width: 600px;
}

.wall {
  background: #050505;
  border: 1px solid #333;
  padding: 15px;
  height: 150px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.wall p {
  color: #aaa;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  height: 100px;
  background: #000;
  border: 1px solid crimson;
  color: crimson;
  padding: 10px;
}

.logout {
  border-color: crimson;
  color: crimson;
}